*.iml
.gradle
/local.properties
./secrets.properties
./.idea/caches
./.idea/libraries
./.idea/modules.xml
./.idea/workspace.xml
./.idea/navEditor.xml
./.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.pro
/app/google-services.json

*.apk
*.dex
*.tmp
*.log
hs_err_pid*
replay_pid*

!gradle/libs.versions.toml